*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    line-height: 1.25;
}

::selection{
    background-color: black;
    color: white;
}

.wrapper{
    height: 100%;
    position: relative;
    background-color: transparent;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f4f6f6;
    filter: blur(25px);
    z-index: -1;
}

.background__circle{
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transform-origin: center;
    transition: all 100ms ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background__circle-1{
    width: 300px;
    height: 300px;
    top: 70%;
    left: 20%;
    background-image: url(../image/1.jpg);
    /*background-color: #5f62b1;*/
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);;
}

.background__circle-2{
    width: 500px;
    height: 500px;
    top: 30%;
    left: 50%;
    /*background-color: #a5a7df;*/
    background-image: url(../image/3.jpg);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);;
}

.background__circle-3{
    width: 400px;
    height: 400px;
    top: 70%;
    left: 80%;
    /*background-color: #95dbf1;*/
    background-image: url(../image/4.jpg);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);;
}

/* cursor */

.cursor{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 1.5rem;
    height: 1.5rem;
    z-index: 999;
    transition: transform 250ms linear,
                width 250ms linear,
                height 250ms linear,
                top 150ms ease-out,
                left 150ms ease-out;
    background-color: black;
    filter: invert(1);
    mix-blend-mode: difference;
    pointer-events: none;
    backdrop-filter: invert(100%);
    background-blend-mode: difference;
}

.cursor--hovered,
.cursor--hovered-xl,
.cursor--hovered-sm{
    transform: translate(-50%, -50%) rotate(225deg);
    border-radius: 50%;
}

.cursor--hovered-xl{
    width: 10rem;
    height: 10rem;
}

.cursor--hovered-sm{
    width: 5rem;
    height: 5rem;
}

/* header */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #acacac;
    z-index: 10;
}

.header__content{
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 1280px;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.header__logo{
    position: relative;
    display: block;
    overflow: hidden;
}

.header__logo-a{
    display: block;
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
    transition: all 500ms ease;
    transform: translateY(100%);
}

.header__logo-a--active{
    transform: translateY(0%);
}

.header__nav{
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    list-style: none;
}

.header__nav-item{
    margin-left: 4rem;
    display: flex;
}

.header__nav-btn{
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
    background-color: transparent;
    border: 0;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.header__nav-icon{
    width: 16px;
    height: 16px;
    object-fit: cover;
    opacity: 0;
    transition: all 250ms ease;
}

.header__nav-item:hover .header__nav-icon{
    opacity: 1;
}

/* start */

.start{
    width: 100%;
    height: auto;   
}

.start__content{
    width: calc(100% - 4rem);
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.start__name,
.start__text{
    display: flex;
}

.start__name{
    align-items: flex-end;
    line-height: 1;
}

.start__name-content{
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -3px;
}

/* table */

.table{
    width: 100%;
    height: 100vh;
}

.table__content{
    width: calc(100% - 4rem);
    max-width: 1280px;
    margin: 0 auto;
}

.table__row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 150px;
    transition: all 250ms ease;
    position: relative;
}

.table__row:first-of-type{
    margin-bottom: 1rem;
}

.table__item{
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: flex 0.8s 0.1s cubic-bezier(0.98, 0, 0.22, 0.98), background-color 0.6s ease-in-out;
}

.table__item:nth-of-type(2n){
    margin-left: 0.5rem;
}

.table__item:nth-of-type(n){
    margin-right: 0.5rem;
}

.table__first:hover,
.table__second:hover,
.table__third:hover,
.table__fourth:hover{
    flex: 1.5;
}

.table__item:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

